{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 ><span style="color:red;">Я</span> <span style="color:black;"> тоже</span> <span style="color:green;">вмести</span> <span style="color:red;">с</span> <span style="color:blue;">Вами</span> <span style="color:black;">сижу</span> <span style="color:green;">кавыряю</span> <span style="color:red;">каждый</span> <span style="color:blue;">день</span> код</h1>

{% endblock %}
